<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"
      integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title><%= title %></title>
  </head>
  <body>
    <h1 class="text-center mt-4">Đăng nhập</h1>
    <form action="" method="POST">
      <div class="container" style="max-width: 700px">
        <% if (successRegister.length > 0) { %>
        <p class="alert alert-success"><%= successRegister[0] %></p>

        <% } %> <% if (Object.keys(req.errors).length > 0 &&
        !successChangePassword.length ) { %>
        <p class="alert alert-danger">Vui lòng nhập đầy đủ thông tin</p>

        <% } %> <% if (errorPassword.length) { %>
        <p class="alert alert-danger"><%= errorPassword[0] %></p>
        <% } %> <% if (errorStatus.length) { %>
        <p class="alert alert-danger"><%= errorStatus[0] %></p>

        <% } %> <% if (successLogout.length) { %>
        <p class="alert alert-success"><%= successLogout[0] %></p>

        <% } %> <% if (successChangePassword.length) { %>
        <p class="alert alert-success"><%= successChangePassword[0] %></p>

        <% } %>

        <div class="d-flex flex-column">
          <label for="" class="fs-4">Email</label>
          <input
            type="email"
            name="email"
            placeholder="Email..."
            class="form-control p-2 mt-1 rounded border"
            autocomplete="on"
            value="<%= req.old.email %>"
          />
          <span class="text-danger"> <%= req.errors.email %> </span>
        </div>
        <div class="d-flex flex-column mt-3">
          <label for="" class="fs-4">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Password..."
            class="form-control p-2 mt-1 rounded border"
            value="<%= req.old.password %>"
          />
          <% if (!successChangePassword.length) { %>
          <span class="text-danger"> <%= req.errors.password %> </span>
          <% } %>
        </div>
        <div class="d-flex">
          <button class="btn btn-primary mt-3 margin flex-grow-1 me-3">
            Đăng nhập
          </button>

          <a href="/register" class="btn btn-info mt-3 me-3 flex-grow-1"
            >Đăng ký</a
          >
          <a href="/doi-mat-khau" class="btn btn-info mt-3 flex-grow-1"
            >Đổi mật khẩu</a
          >
        </div>
      </div>
    </form>
  </body>
</html>
